
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a href="#" class="navbar-brand">Recipe Book</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/recipes" routerLinkActive="active">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shopping-list" routerLinkActive="active">Shopping List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup" routerLinkActive="active">Register</a>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown" addDropdown>
        <a class="nav-link dropdown-toggle" routerLinkActive="active" data-toggle="dropdown">Manage</a>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" routerLinkActive="active" (click)="onSaveData()">Save Data</button>
          <button class="dropdown-item" routerLinkActive="active" (click)="onFetchData()">Fetch Data</button>
        </div>
      </li>
    </ul>
  </div>
</nav>

<hr>
